.App {
  .menu-header {
    display: flex;
    color: $color-light;
    font-size: rem(14);

    &__data {
      display: flex;

      h1 {
        font-size: rem(18);
      }

      &__img {
        width: 24px;
        border: 1px solid red;

        & img {
          width: 100%;
        }
      }
    }

    &__nav {
      text-transform: uppercase;
    }
  }
}
