.App {
  font-family: $font-main;
  font-size: rem(16);
  display: grid;
  grid-template-columns: 324px auto;
  height: 100vh;

  &__menu {
    border: 1px solid green;
    grid-column: 1;
  }
}

.category {
  font-size: rem(20);
  height: 56px;
  text-align: left;
  margin-top: 0;
  border: 1px solid red;
}

// ul {
//   font-size: 0;
// }

.subcategory {
  border: 1px solid blue;
}

.active {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 0;
}
