@font-face {
  font-family: 'SF-UI-Display-Regular';
  src: url('./fonts/SF-UI-Display-Regular.otf');
}

@font-face {
  font-family: 'SF-UI-Display-Thin';
  src: url('./fonts/SF-UI-Display-Thin.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

@import 'reset/reset';

/* core */
@import 'core/functions';
@import 'core/variables';
@import 'core/mixins';

@import 'design/main';
@import 'design/menu';
@import 'design/header';
@import 'design/loader';
@import 'design/storecontent';
