//breakpoints
$tablet: 768px;
$desktop: 1024px;

//colors
$color-dark: #666666;
$color-dark-secondary: #f5f5f5;
$color-light: #ffffff;
$color-accent: #4fd053;

//fonts
$font-main: 'SF-UI-Display-Thin', sans-serif;
$font-titles: 'SF-UI-Display-Regular', sans-serif;
